body {
  font: 16px/24px "Hack Sans", sans-serif;

  background: #000;
  color: #fff;
  padding: 18px 0;
}

body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 25%;
  background :#fff;
}

.item {
  display: block;
  position: relative;
}

  .item-link {
    display: block;
    position: relative;
  }

  .item .container {
    padding: 12px 18px;
    margin: 0 18px;
  }

  .item-content {
    width: 75%;
    margin-left: 25%;
    color: #fff;
  }

  .item.blog .item-content header {
    margin-bottom: 24px;
  }

  .item-content p {
    /*opacity: 0.5;*/
    color: #888;
    max-width: 640px;
  }

    .item-content p a,
    .item-content td a,
    .item-content th a {
      color: #fff;
    }

    .item:hover .item-content p a,
    .item:hover .item-content td a,
    .item:hover .item-content th a {
      color: #000;
      text-decoration: underline;
    }

    .item-content a:hover {
      background: #000;
      color: #fff !important;
      text-decoration: none !important;
    }

  .item-content td,
  .item-content th {
    color: #888;
  }

  .item-content td:not(:last-child),
  .item-content th:not(:last-child) {
    padding-right: 18px;
  }

  .item-sidebar {
    position: absolute;
    left: 0; top: 0;
    width: 25%;
    height: 100%;
    color: #000;
    background: #fff;
    text-align: right;
  }

    .item-sidebar .container {
      height: 100%;
      box-sizing: border-box;
    }

    .item-meta:not(.category) {
      opacity: 0.5;
    }

.item:hover .item-content .container {
  color: #000;
  background: #fff;
}

.item:hover .item-sidebar .container {
  color: #fff;
  background: #000;
}
